<!doctype html>
<html lang="en">

<script>
  // make sure the api key is correct if required
  var apikey  = '1234567890';
  var version = '0.6';
  var reg     = new RegExp("/$");
  var adminbase = window.location.pathname;
  if (!reg.test(window.location.pathname)) {
    var apibase = adminbase + '/api';
    window.location.href = window.location.href + '/';
  }
  else {
    var apibase = adminbase + 'api';
  }
  // used for checkboxes in forms
  function setCheckVal(element, checked) {
    if (element) {
      element.value = checked;
    }
  }
</script>

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Site Admin</title>
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="styles.css"/>
</head>

<body>
  <header class="flolink-header hidden">
    <br/>
    <div class="navbar">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="authbar">
    </div>
    <br/>
  </header>
  <div class="container">
    
    <div class="page"></div>
    <div class="popup"></div>
  </div>
  <footer role="contentinfo" class="hidden">
    <div id="inner-footer" class="clearfix">
      <br/>
      <hr />
      <p class="attribution muted">powered by <a href="http://www.fluff.io">Fluff</a></p>
    </div>
  </footer>

  <script type="text/template" id="authbar-template">
    <div class="btn-toolbar pull-right authbar">
      <div class="btn-group">
        <% if(session.get('auth')) { %>
        <a href="#/users/<%= session.get('user')._id %>" class="btn btn-mini"><i class="icon-user"></i>  <%= htmlEncode(session.get('user').name)%></a>
        <a href="#/logout" class="btn btn-mini">Logout</a>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/template" id="navbar-template">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#/"><img class="brand" src="images/fluff_logo.png" /></a>

          <!-- Everything you want hidden at 480px or less, place within here -->

          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if(auth && admin) { %>
                <li id="pages-tab"><a href="#/pages">Pages</a></li>
                <li id="views-tab"><a href="#/views">Views</a></li>
                <li id="vars-tab"><a href="#/vars">Vars</a></li>
                <li id="users-tab"><a href="#/users">Users</a></li>
                <li id="site-tab"><a href="#/site">Site</a></li>
              <% } %>
            </ul>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>

  </script>

  <script type="text/template" id="signup-template">
    <div id="signup-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="singupModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="signupModalLabel">Welcome to the Fluff admin.</h3>
      </div>
      <div class="modal-body">
        <div class="signup-step1">
          <form class="signup-form form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="email" id="inputEmail" name="email" placeholder="required" required />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="required" required />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Confirm</label>
              <div class="controls">
                <input type="password" id="inputPassword" placeholder="required" required />
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary signup">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
        <div class="hide signup-step2">
          <p class="text-center lead">Check your email for instructions to complete signup.</p>
        </div>
        <div class="hide signup-step3">
          <p class="text-center lead">Your email is verified. Welcome to Fluff admin.</p>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="login-template">
    <div id="login-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="loginModalLabel">Welcome back.</h3>
      </div>
      <div class="modal-body">
        <div class="alert hide login-fail">
          <span class="alert-msg"></span>
        </div>
        <form class="login-form form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="email" id="inputEmail" name="email" placeholder="" required />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" name="password" placeholder="" required />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary login">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#/pwreset">I forgot</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script type="text/template" id="pwreset-template">
    <div id="pwreset-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="pwresetModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="pwresetModalLabel">Password Reset</h3>
      </div>
      <div class="modal-body">
        <div class="alert hide pwreset-fail">
          <span class="alert-msg"></span>
        </div>
        <form class="pwreset-form form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="email" id="inputEmail" name="email" value="<%= email ? htmlEncode(email) : '' %>" placeholder="" required />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary pwreset">Request reset</button>
              <button type="button" class="btn cancel">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script type="text/template" id="pwchange-template">
    <div id="pwchange-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="pwchangeModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="pwchangeModalLabel">Change your password.</h3>
      </div>
      <div class="modal-body">
        <div class="alert hide pwchange-fail">
          <span class="alert-msg"></span>
        </div>
        <form class="pwchange-form form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputPassword">New Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" name="password" placeholder="" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputConfirmPassword">Confirm</label>
            <div class="controls">
              <input type="password" id="inputConfirmPassword" name="confirmpassword" placeholder="" />
            </div>
          </div>
          <% if (token) { %>
            <input type="hidden" name="token" value="<%= htmlEncode(token) %>" />
          <% } else { %>
          <div class="control-group">
            <label class="control-label" for="inputToken">Token</label>
            <div class="controls">
              <input type="text" id="inputToken" name="token" placeholder="" />
            </div>
          </div>
          <% } %>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary pwchange">Save and login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>

  <script type="text/template" id="alert-template">
    <div id="alert-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="alertModalLabel"><%= label ? label : 'Alert' %></h3>
      </div>
      <div class="modal-body">
        <p class="text-center lead"><%= msg ? msg : 'Something went wrong.' %></p>
      </div>
    </div>
  </script>
  
  <script type="text/template" id="user-list-template">
    <br/>
    <a href="#/users/new" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add a User</a>
    <br/><br/>
    <table class="table striped">
      <thead>
        <tr>
          <th></th><th>First Name</th><th>Last Name</th><th>Email</th><th>Role</th><th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(users, function(user) { %>
          <tr>
            <td><i class="icon-user"></i></a>&nbsp;&nbsp;&nbsp;<a title="Edit" href="#/users/<%= user.id %>"><i class="icon-edit"></i></a></td>
            <td><%= htmlEncode(user.get('firstname')) %></td>
            <td><%= htmlEncode(user.get('lastname')) %></td>
            <td><%= htmlEncode(user.get('email')) %></td>
            <td><%= htmlEncode(user.get('role')) %></td>
            <td><%= htmlEncode(user.get('status')) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="page-list-template">
    <br/>
    <div class="span4">
    <a href="#/pages/new" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add a Page</a><br/><br/>
    </div>
    <div class="pull-right span6">
    <form class="search-pages-form form-search">
      <input type="text" name="keyword" class="span3 search-query search-pages-keyword" placeholder="search contents" />
    </form>
    </div>
    
    <br/><br/>
    <table class="table striped">
      <thead>
        <tr>
          <th></th><th>Page</th><th>Path</th><th>View</th><th>Access</th><th>Status</th><th>Last Updated</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(pages, function(page) { %>
          <tr>
            <td><a title="View" href="<%= htmlEncode(page.get('path')) %>" target="_blank"><i class="icon-file"></i></a>&nbsp;&nbsp;&nbsp;<a title="Edit" href="#/pages/<%= htmlEncode(page.id) %>"><i class="icon-edit"></i></a></td>
            <td><%= htmlEncode(page.get('name')) %></td>
            <td><%= htmlEncode(page.get('path')) %></td>
            <td><%= htmlEncode(views.get(page.get('view_id')).get('name')) %></td>
            <td><%= htmlEncode(page.get('access')) %></td>
            <td><%= htmlEncode(page.get('status')) %></td>
            <td><%= htmlEncode(page.get('lastupdate')) %></td>
            <td></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="view-list-template">
    <br/>
    <a href="#/views/new" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add a View</a>
    <br/><br/>
    <table class="table striped">
      <thead>
        <tr>
          <th></th><th>View</th><th>Content Type</th><th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(views, function(view) { %>
          <tr>
            <td><i class="icon-list-alt"></i></a>&nbsp;&nbsp;&nbsp;<a title="Edit" href="#/views/<%= view.id %>"><i class="icon-edit"></i></a></td>
            <td><%= htmlEncode(view.get('name')) %></td>
            <td><%= htmlEncode(view.get('content_type')) %></td>
            <td><%= htmlEncode(view.get('lastupdate')) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>

  <script type="text/template" id="var-list-template">
    <br/>
    <a href="#/vars/new" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add a Var</a>
      <br/><br/><br/>
      <% _.each(vars, function(vari) { %>
        <form class="edit-var-quickform">
          <div class="input-prepend input-append">
          <input name="name" class="span2 add-on edit-var-name" type="text" value="<%= vari ? vari.get('name') : '' %>" placeholder="name" />
          <input name="value" class="span7 edit-var-value" type="text" value="<%= vari ? vari.get('value') : '' %>" placeholder="value" />
          <% if (vari) { %>
            <span class="add-on delete-var-quickform pointer" data-var-id="<%= vari.id %>"><i class="icon-remove-sign"></i></span>
          </div>
            &nbsp;&nbsp;&nbsp;
            <span nowrap class="muted"><%= htmlEncode(vari.get('lastupdate')) %></span>
            <input name="id" type="hidden" value="<%= vari.id %>" />
          <% } else { %>
          </div> 
          <% } %>
        </form>
      <% }); %>
  </script>

  <script type="text/template" id="edit-user-template">
    <form class="edit-user-form form-horizontal">
      <legend><%= user ? 'Edit' : 'New' %> User</legend>
      <div class="control-group">
        <label class="control-label" for="inputFirstname">Name</label>
        <div class="controls">
          <input type="text" id="inputFirstname" class="span2" name="firstname" value="<%= user ? user.get('firstname') : '' %>" placeholder="first" />
          <input type="text" id="inputLastname" class="span2" name="lastname" value="<%= user ? user.get('lastname') : '' %>" placeholder="last" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="email" id="inputEmail" class="span4" name="email" value="<%= user ? user.get('email') : '' %>" placeholder="required" required />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputOrgname">Organization</label>
        <div class="controls">
          <input type="text" id="inputOrgname" class="span4" name="orgname" value="<%= user ? user.get('orgname') : '' %>" placeholder="" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPhone">Phone</label>
        <div class="controls">
          <input type="text" id="inputPhone" name="phone" value="<%= user ? user.get('phone') : '' %>" placeholder="" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputRole">Role</label>
        <div class="controls">
          <select name="role" id="inputRole">
            <% _(role_options).each(function(option) { %>
            <option value="<%= option %>"<%= (user && (option == user.get('role'))) ? ' selected' : ''%>><%= option %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputStatus">Status</label>
        <div class="controls">
          <select name="status" id="inputStatus">
            <% _(status_options).each(function(option) { %>
            <option value="<%= option %>"<%= (user && (option == user.get('status'))) ? ' selected' : ''%>><%= option %></option>
            <% }); %>
          </select>
        </div>
      </div>
        <div class="control-group">
          <label class="control-label" for="inputNotes">Notes</label>
          <div class="controls">
            <textarea id="inputNotes" name="notes" placeholder=""><%= user ? user.get('notes') : '' %></textarea>
          </div>
        </div>
      <hr />
      <button type="submit" class="btn btn-primary"><%= user ? 'Update' : 'Add' %></button>
      <button type="button" class="btn cancel">Cancel</button>
      <% if (user) { %>
      <input type="hidden" name="id" value="<%= user.id %>" />
      <button type="button" data-user-email="<%= user.get('email') %>" class="btn user-pwreset">Reset Password</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" data-user-id="<%= user.id %>" class="btn btn-danger delete-user">Delete User</button><br/><br/>
      <table class="pull-right muted stats-table">
        <tr><td>user id </td><td><%= user.id %></td></tr>
        <tr><td>created </td><td><%= user.get('creation') %> by <%= user.get('creator_id') ? user.get('creator_id') : '?' %></td></tr>
            <tr><td>last updated </td><td><%= user.get('lastupdate') %> by <%= user.get('lastupdater_id') ? user.get('lastupdater_id') : '?' %></td></tr>
      </table>
      <% } %>
    </form>
  </script>

  <script type="text/template" id="edit-page-template">
    <form class="edit-page-form form-horizontal">
      <legend><%= page ? 'Edit' : 'New' %> Page</legend>
      <div class="span6">
        <fieldset>
          <label>
          <span class="muted">Content</span><a class="fullscreen-page pull-right">Full Screen</a></label>
          <div id="editor" name="content" class="span4 base-editor small-editor"></div>
          <br/><br/>
        </fieldset>
      </div>
      <div class="span5">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" id="inputName" name="name" value="<%= page ? page.get('name') : '' %>" placeholder="" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPath">Path</label>
            <div class="controls">
              <div class="input-append">
              <input type="text" id="inputPath" name="path" value="<%= page ? page.get('path') : '' %>" placeholder="/unique/path/here" required />
              <a class="add-on" href="<%= page ? page.get('path') : '' %>">Go</a>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputView">View</label>
            <div class="controls">
              <select name="view_id" id="inputView">
                <% views.each(function(option) { %>
                <option value="<%= option.id %>"<%= (page && (option.id == page.get('view_id'))) ? ' selected' : ''%>><%= option.get('name') %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputAccess">Access</label>
            <div class="controls">
              <select name="access" id="inputAccess">
                <% _(access_options).each(function(option) { %>
                <option value="<%= option %>"<%= (page && (option == page.get('access'))) ? ' selected' : ''%>><%= option %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputStatus">Status</label>
            <div class="controls">
              <select name="status" id="inputStatus">
                <% _(status_options).each(function(option) { %>
                <option value="<%= option %>"<%= (page && (option == page.get('status'))) ? ' selected' : ''%>><%= option %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><%= page ? 'Update' : 'Add' %></button>
          <button type="button" class="btn cancel">Cancel</button>
          <% if (page) { %>
          <input type="hidden" name="id" value="<%= page.id %>" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" data-page-id="<%= page.id %>" class="btn btn-danger delete-page">Delete Page</button>
          <br/><br/>
          <table class="muted stats-table">
            <tr><td>page id </td><td><%= page.id %></td></tr>
            <tr><td>published </td><td><%= page.get('publication') %></td></tr>
            <tr><td>created </td><td><%= page.get('creation') %> by <%= page.get('creator_id') ? page.get('creator_id') : '?' %></td></tr>
            <tr><td>last updated </td><td><%= page.get('lastupdate') %> by <%= page.get('lastupdater_id') ? page.get('lastupdater_id') : '?' %></td></tr>
          </table>
          <br/>
          <% } %>
        </fieldset>
      </div>
    </form>
  </script>

  <script type="text/template" id="edit-view-template">
    <form class="edit-view-form form-horizontal">
      <legend><%= view ? 'Edit' : 'New' %> View</legend>
      <div class="span6">
        <fieldset>
          <label>
          <span class="muted">Content</span><a class="fullscreen-view pull-right">Full Screen</a></label>
          <div id="editor" name="template" class="span4 base-editor small-editor"></div>
          <br/><br/>
        </fieldset>
      </div>
      <div class="span5">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" id="inputName" name="name" value="<%= view ? view.get('name') : '' %>" placeholder="must be unique" required />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputContentType">Content Type</label>
            <div class="controls">
              <select name="content_type" id="inputContentType">
                <% for (o = 0; o < content_types.length; o++) { %>
                <option value="<%= content_types[o] %>"<%= ((view && (content_types[o] == view.get('content_type'))) || (!view && (content_types[o] == 'text/html'))) ? ' selected' : ''%>><%= content_types[o] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary"><%= view ? 'Update' : 'Add' %></button>
          <button type="button" class="btn cancel">Cancel</button>
          <% if (view) { %>
          <input type="hidden" name="id" value="<%= view.id %>" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" data-view-id="<%= view.id %>" class="btn btn-danger delete-view">Delete View</button><br/><br/>
          <table class="pull-right muted stats-table">
            <tr><td>view id </td><td><%= view.id %></td></tr>
            <tr><td>created </td><td><%= view.get('creation') %> by <%= view.get('creator_id') ? view.get('creator_id') : '?' %></td></tr>
            <tr><td>last updated </td><td><%= view.get('lastupdate') %> by <%= view.get('lastupdater_id') ? view.get('lastupdater_id') : '?' %></td></tr>
          </table>
          <% } %>
        </fieldset>
      </div>
    </form>
  </script>

  <script type="text/template" id="edit-var-template">
    <form class="edit-var-form">
      <legend><%= vari ? 'Edit' : 'New' %> Var</legend>
      <br/>
      <div class="input-prepend">
        <input name="name" class="span2 add-on edit-var-name" type="text" value="<%= vari ? vari.get('name') : '' %>" placeholder="name" required />
        <input name="value" class="span8 edit-var-value" type="text" value="<%= vari ? vari.get('value') : '' %>" placeholder="value" />
      </div>
      <br/><br/>
      <button type="submit" class="btn btn-primary"><%= vari ? 'Update' : 'Add' %></button>
      <button type="button" class="btn cancel">Cancel</button>
      <% if (vari) { %>
      <input type="hidden" name="id" value="<%= vari.id %>" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" data-var-id="<%= vari.id %>" class="btn btn-danger delete-var">Delete Var</button><br/><br/>
      <table class="pull-right muted stats-table">
        <tr><td>var id </td><td><%= vari.id %></td></tr>
        <tr><td>created </td><td><%= vari.get('creation') %> by <%= vari.get('creator_id') ? vari.get('creator_id') : '?' %></td></tr>
            <tr><td>last updated </td><td><%= vari.get('lastupdate') %> by <%= vari.get('lastupdater_id') ? vari.get('lastupdater_id') : '?' %></td></tr>
      </table>
      <% } %>
    </form>
  </script>

  <script type="text/template" id="edit-site-template">
    <form class="edit-site-form form-horizontal">
      <legend>Site Configuration</legend>
      <br/>
      <div class="span6">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="inputName">Site Name</label>
          <div class="controls">
            <input type="text" id="inputName" class="span4" name="name" value="<%= site ? site.get('name') : '' %>" placeholder="unnamed" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputDomain">Domain</label>
          <div class="controls">
            <input type="text" id="inputDomain" class="span4" name="domain" value="<%= site ? site.get('domain') : '' %>" placeholder="www.yourdomain.com" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" value="" <%= (site && site.get('ssl')) ? 'checked' : '' %> onchange="setCheckVal(document.getElementsByName('ssl')[0],this.checked);" />
                Secure HTTP (SSL)
              <input type="hidden" name="ssl" value="<%= site ? site.get('ssl') : 'false' %>" />
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPort">Port</label>
          <div class="controls">
            <input type="text" id="inputPort" class="span2" name="port" value="<%= site ? site.get('port') : '' %>" placeholder="80" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" value="" <%= (site && site.get('cors').restricted) ? 'checked' : '' %> onchange="setCheckVal(document.getElementsByName('cors.restricted')[0],this.checked);" />
                Restrict CORS
              <input type="hidden" name="cors.restricted" value="<%= site ? site.get('cors').restricted : 'false' %>" />
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputCorsWhitelist">CORS White List</label>
          <div class="controls">
            <textarea id="inputCorsWhitelist" class="span4" name="cors.whitelist[]" placeholder="comma separated list"><%= site ? site.get('cors').whitelist : '' %></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" value="" <%= (site && site.get('apikey').required) ? 'checked' : '' %> onchange="setCheckVal(document.getElementsByName('apikey.required')[0],this.checked);" />
                Require API Key
              <input type="hidden" name="apikey.required" value="<%= site ? site.get('apikey').required : 'false' %>" />
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputApikeys">API Keys</label>
          <div class="controls">
            <textarea id="inputApikeys" class="span4" name="apikey.keychain[]" placeholder="comma separated list"><%= site ? site.get('apikey').keychain : '' %></textarea>
          </div>
        </div>
      </fieldset>
      </div>

      <div class="span4">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="inputEmailFrom">Email Address</label>
          <div class="controls">
            <input type="email" id="inputEmailFrom" name="email_from" value="<%= site ? site.get('email_from') : '' %>" placeholder="notifications sent from address" required />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSmtpService">SMTP Service</label>
          <div class="controls">
            <select name="smtp.service" id="inputSmtpService">
              <% _(smtp_service_options).each(function(option) { %>
              <option value="<%= option %>"<%= (site && (option == site.get('smtp').service)) ? ' selected' : ''%>><%= option %></option>
              <% }); %>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSmtpHost">SMTP Host</label>
          <div class="controls">
            <input type="text" id="inputSmtpHost" name="smtp.host" value="<%= site ? site.get('smtp').host : '' %>" placeholder="" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" value="" <%= (site && site.get('smtp').ssl) ? 'checked' : '' %> onchange="setCheckVal(document.getElementsByName('smtp.ssl')[0],this.checked);" />
                Secure SMTP (SSL)
              <input type="hidden" name="smtp.ssl" value="<%= site ? site.get('smtp').ssl : 'false' %>" />
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSmtpPort">SMTP Port</label>
          <div class="controls">
            <input type="text" id="inputSmtpPort" class="span2" name="smtp.port" value="<%= site ? site.get('smtp').port : '' %>" placeholder="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSmtpUsername">SMTP Username</label>
          <div class="controls">
            <input type="text" id="inputSmtpUsername" name="smtp.username" value="<%= site ? site.get('smtp').username : '' %>" placeholder="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSmtpPassword">SMTP Password</label>
          <div class="controls">
            <input type="password" id="inputSmtpPassword" name="smtp.password" value="<%= site ? site.get('smtp').password : '' %>" placeholder="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputAdminPath">Admin Path</label>
          <div class="controls">
            <input type="text" id="inputAdminPath" name="admin_path" value="<%= site ? site.get('admin_path') : '' %>" placeholder="/admin" required />
            <p>(The api path will be <%= site ? site.get('admin_path') : '' %>/api)</p>
          </div>
        </div>
        </fieldset>
      </div>
      <div class="span12">
        <fieldset>
          <hr />
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn cancel">Cancel</button>
          <% if (site) { %>
          <input type="hidden" name="id" value="<%= site.id %>" />
          <% } %>
        </fieldset>
      </div>
    </form>
  </script>

<!--
  <script type="text/javascript" src="jslibs/jquery-1.9.1.js"></script>
-->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!--
  <script type="text/javascript" src="jslibs/underscore.js"></script>
-->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<!--
  <script type="text/javascript" src="jslibs/backbone.js"></script>
-->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<!--
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
-->
    
  <script type="text/javascript" src="src-noconflict/ace.js" charset="utf-8"></script>
<!--
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/0.2.0/ace.js" charset="utf-8"></script>
-->

  <script type="text/javascript" src="admin.js"></script>

  <script>$(".attribution").html($(".attribution").html() + " " + version);</script>

</body>

</html>

